<!DOCTYPE html>

<html >
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" th:href="@{/imagens/mascote-formiga.jpg}"/>
        <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/stylesheet/owl.carousel.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/owl.theme.default.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/manager.css}" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <div style="margin-top: 50px" class="container">

            <div class="jumbotron">
                <h1 style="text-align: center; font-size: 40px">Tudo começa aqui!</h1><br>
                <p>Devido levantamento de requesitos, será necessário que nos forneça algumas informções para que você tenha uma melhor expereiência com o sistema.
                   Após validada as informações, iremos personalizar o sistema segundo a sua necessidade, e mais <code>a personalização será feita por você mesmo,</code> e tudo
                   muito fácil e rápido, basta clicar no botão abaixo para o <label class="control-label label label-success" >start</label>
                </p><br>
                <p>
                    <a class="btn btn-lg btn-primary" th:href="@{/credenciais}" role="button">Vamos nessa &raquo;</a>
                </p>
                
                <div class="owl-carousel owl-theme">
                    
                    <div class="item" th:each="nome : ${fotos}">
                        <img th:src="@{/imagens/sistema/}+${nome.name}"/>
                    </div>
                    
                </div>
                
            </div>
            
        </div>

        <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
        <script th:src="@{/vendor-js/owl.carousel.min.js}" type="text/javascript"></script>
        <script th:src="@{/manager/index.js}" type="text/javascript"></script>
        
        <footer class="footer">
            <span style="color: #000; font-size: 12px;">Copyright © S.U.D 2020 <sup style="color:#f48260;">™</sup> </span> <!--<sup>©</sup> -->
        </footer>
    </body>
</html>
