<!DOCTYPE html>

<html>
    <head>
        <title>Questinário</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" th:href="@{/imagens/mascote-formiga.jpg}"/>
        <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{stylesheet/bootstrap-toggle.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/stylesheet/manager.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body style="background:#efefe9;">

        <input type="hidden" name="context-app" th:value="@{/}"/>
        
        <section>
            <div class="container">
                <div class="row">
                    <div class="board">
                        <div class="board-inner">
                            <ul class="nav nav-tabs" id="myTab">
                                
                                <div class="liner"></div>
                                
                                <li class="active" title="Escolha do condominio" id="href-home">
                                    <a href="#home" style="pointer-events: none;" data-toggle="tab">
                                        <span class="round-tabs one">
                                            <i class="glyphicon glyphicon-home"></i>
                                        </span> 
                                    </a>
                                </li>

                                <li title="Perfil" id="href-profile">
                                    <a href="#profile" style="pointer-events: none;" data-toggle="tab">
                                        <span class="round-tabs two">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span> 
                                    </a>
                                </li>

                                <li title="Deixe sua mensagem" id="href-message">
                                    <a href="#message" style="pointer-events: none;" data-toggle="tab" >
                                        <span class="round-tabs four">
                                            <i class="glyphicon glyphicon-comment"></i>
                                        </span> 
                                    </a>
                                </li>

                                <li title="Finalizado" id="href-doner">
                                    <a href="#doner" style="pointer-events: none;" data-toggle="tab" >
                                        <span class="round-tabs five">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span> 
                                    </a>
                                </li>
                                
                                <li title="Surpresa" id="href-doacao">
                                    <a href="#doacao" style="pointer-events: none;" data-toggle="tab" title="Doações">
                                        <span class="round-tabs three">
                                            <i class="glyphicon glyphicon-gift"></i>
                                        </span> 
                                    </a>
                                </li>
                                
                            </ul>
                        </div>

                        <div class="tab-content">
                            
                            <div class="tab-pane fade in active" id="home">

                                <h3 class="head text-center">Vamos começar nossa personalização, escolha abaixo </h3> <!--<sup>™</sup> <span style="color:#f48260;">♥</span>-->

                                <p class="text-center" style="font-weight: bold; margin-top: 50px;">Condomínio horizontal</p>

                                <div class="container-fluid">
                                    <div class="row ">
                                        <div class="col-sm-6">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading text-center">Casa numerada</div>
                                                <div class="panel-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item"><b>Descrição: </b>Esse tipo de condominio, as casa não tem quadra e lote, apenas o numero que a identifica.</li>
                                                        <li class="list-group-item"><input type="checkbox" id="checkcn" /></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="panel panel-primary ">
                                                <div class="panel-heading text-center">Casa com rua nomeada com quadra e lote</div>
                                                <div class="panel-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item"><b>Descrição: </b>Condomios de casas com extesão maior, no geral as casas são identificadas por quadra e lote.</li>
                                                        <li class="list-group-item"><input type="checkbox" id="checkcqdlt"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <p class="text-center" style="font-weight: bold;">Condomínio vertical</p>
                                
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="panel panel-success">
                                                <div class="panel-heading text-center" style="background-color: #2e97be; color: white">Apenas um edifício ou bloco</div>
                                                <div class="panel-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item"><b>Descrição: </b>No geral os aptos são identificados por número.</li>
                                                        <li class="list-group-item"><input type="checkbox" id="checkceb"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="panel panel-success">
                                                <div class="panel-heading text-center" style="background-color: #2e97be; color: white">Mais de um edifício ou bloco</div>
                                                <div class="panel-body">
                                                    <ul class="list-group">
                                                        <li class="list-group-item"><b>Descrição: </b>Quando há mais de um edifício ou bloco, os apto, são identificados pela letra o bloco + Nº apto.</li>
                                                        <li class="list-group-item"><input type="checkbox" id="checkmeb"/></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="container-fluid" >
                                    <ul id="nextprofile" class="pager"></ul>
                                </div>
                                
                            </div>
                            
                            
                            <div class="tab-pane fade" id="profile">
                                <div id="div-somente-casas">
                                    
                                </div>
                                <div class="container-fluid" >
                                    <ul id="nextmessage" class="pager"></ul>
                                </div>
                                
                            </div>
                            
                            <div class="tab-pane fade" id="message">
                                <div class="container-fluid">
                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <pre>Deixe sua messagem</pre>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="container-fluid" >
                                    <ul id="nextdoner" class="pager"></ul>
                                </div>
                            
                            </div>
                            
                            
                            <div class="tab-pane fade" id="doner">
                                <div class="container-fluid">
                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <h3 class="head text-center">Finalizado</h3>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="container-fluid" >
                                    <ul id="nextdoacao" class="pager"></ul>
                                </div>
                                
                            </div>
                            
                            
                            <div class="tab-pane fade" id="doacao">
                                <div class="container-fluid">
                                    <div class="row ">
                                        <div class="col-sm-12">
                                            <h3 class="head text-center">Doação</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
        <script th:src="@{/vendor-js/bootstrap-toggle.min.js}" type="text/javascript"></script>
        <script th:src="@{/vendor-js/sweetalert2.all.min.js}" type="text/javascript"></script>
        <script th:src="@{/manager/question.js}" type="text/javascript"></script>
        
    </body>
</html>
